<template>
  <div class="wrapper">
    <div class="feature">
      <i>{{feature}}</i>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Feature',
  props: ['feature'],
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
  },
  watch: {
  },
  methods: {
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 20px;
  color: #545c64;
  .feature {
    text-align: center;
  }
}

</style>