<template>
  <div class="photo_wrapper">
    <el-carousel :interval="4000" type="card" height="700px" v-if="photos.length !== 0">
      <el-carousel-item
        v-for="(item, index) in photos"
        :key="index">
        <el-row type="flex" justify="center">
          <el-col :span="24">
            <img :src="item" class="image"/>
          </el-col>
        </el-row>
      </el-carousel-item>
    </el-carousel>
    <div v-else>사진 정보가 없습니다.</div>
  </div>
</template>

<script>
export default {
  name: 'Photo',
  props: ['photos'],
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
  },
  watch: {
  },
  methods: {
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
.photo_wrapper {
  padding: 20px;
  color: #545c64;
  .image {
    vertical-align: middle;
    width: 100%;
    height: auto;
  }
}

</style>