<template>
  <div class="staff_wrapper">
    <div v-if="members.length !== 0">
    <template v-for="(item, index) in members">
      <div :key="index" class="">
        <el-row>
          <el-col :span="4">
            <h4 class="role">{{item.role}}</h4>
          </el-col>
          <el-col :offset="1" :span="16">
            <h4 class="members">{{item.members}}</h4>
          </el-col>
        </el-row>
      </div>
    </template>
    </div>
    <div v-else>스태프 정보가 없습니다.</div>
  </div>
</template>

<script>
export default {
  name: 'Staff',
  props: ['members'],
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
  },
  watch: {
  },
  methods: {
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
.staff_wrapper {
  padding: 20px;
  color: #545c64;
  .role {
    text-align: center;
    background-color: #545c64;
    color: #FFF;
    padding: 10px;
    margin-bottom: 10px;
  }
  .members {
    padding: 10px;
  }
}

</style>